



.about_me{
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg , transparent , var(--color-primary,
    transparent));
    border-radius: 2rem;
    display: grid;
    place-items: center;
}
.about_me_image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
}
.about_me_image