
.contact_option{
    background-color: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    transition: var(--transition);
    border: 1px solid transparent;
}

.contact_option:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
}
.contact_option_icon