
.contact_option{
    background-color: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    transition: var(--transition);
    border: 1px solid transparent;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact_option:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
}
.contact_option_icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact_option a {
    font-size: 0.8rem;
    margin-top: 0.7rem;
    display: inline-block;
    text-decoration: none;
    
}
.contact_option h5{
    font-size: 1rem;
}


/*========================== form============================ */

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    background-color: rgba(0, 0, 0, 0.774) !important; /* Set it to your desired background color */
    color: var(--color-white) !important;
    -webkit-box-shadow: 0 0 0 200px rgba(7, 8, 10, 0.767) inset !important;
    
}

input:-webkit-autofill {
    background-color: rgba(4, 20, 66, 0.774) !important; /* Background color */
    color: var(--color-white) !important; /* Text color */
  }

input, textarea{
width: 100%;
padding: 1.5rem;
border-radius:0.5rem ;
background-color: rgba(4, 20, 66, 0.774),;
background:  radial-gradient(rgba(4, 20, 66, 0.774), rgb(0, 0, 0));;
resize: none !important;
border: 2px solid var(--color-primary-variant);
color: var(--color-white);
transition: var(--transition);
}

input:focus, textarea:focus {
background:  radial-gradient(rgba(4, 20, 66, 0.774), rgb(10, 1, 43));;
box-shadow: 0 0 1px #6db3fd;
border-color: #6db3fd; /* Change the border color on focus */

}

@media screen and (max-width:1168px) {
    .contact_option h5{
        font-size: 0.9rem;
    }
}
@media screen and (max-width:981px) {
    .contact_option h5{
        /* text-align: center; */
        font-size: 0.65rem;
    }
}
@media screen and (max-width:767px) {
    .contact_option h5{
        font-size: 0.9rem;
    }
}