header{
    height: 100vh;
    padding-top: 7rem;
    /* overflow: hidden; */
}

/* header socials */
.header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var( --color-primary);
}

.me{

    display: inline-block;
    background: linear-gradient(var( --color-primary), transparent );
    width: 20rem;
    position: absolute;
    left: calc(50% - 10rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.cvBtn{
    background: linear-gradient(45deg, #0059ff, #0026ff, #36b5ff, #008cff, #006eff, #010347, #5900ff, #4400ff, #0400ff);
    
}

.download_cv{
    font-size: 1rem;
}

@media screen and  {
    
}