

.project{
    border: 1.5px solid #0dcaf0;
    background-color:#303844;
    position: relative;
    z-index: 2;
}
.card-heder {
    font-size: 1.2rem;
}
.card-heder h6{
    font-size: 1.2rem;
    font-weight: bolder;
}
.project .card-text p{
    margin-top: 1.5rem;
    /* height: 150px; */
    font-size: 0.8rem;
    color: #b8b8b8;
}
.card-img{
    overflow: hidden;
    transition:all 1s;
}
.layer
{
    width: 100%;
    position: absolute;
    left: 110%;
    right:0px ;
    top: 0px;
    bottom: 0px;
    background-color: #2034537e;
    transition: var(--);
    font-size: 1.4rem;

}
.card-img:hover  .layer{
    left: 0px;
    right:0px ;
    top: 0px;
    bottom: 0px;
}
