

.project{
    border: 1.5px solid #0dcaf0;
    background-color:#303844;
    position: relative;
    z-index: 2;
}
.card-heder{
    font-size: 1.2rem;
    fo
}
.project .card-text p{
    margin-top: 1.5rem;
    /* height: 150px; */
    font-size: 0.8rem;
    color: #b8b8b8;
}